.equipment-blast-shower { background-image: url(../icons/equipment/blast-shower.png); }
.equipment-disposable-missile-launcher { background-image: url(../icons/equipment/disposable-missile-launcher.png); }
.equipment-eccentric-vase { background-image: url(../icons/equipment/eccentric-vase.png); }
.equipment-foreign-fruit { background-image: url(../icons/equipment/foreign-fruit.png); }
.equipment-fuel-array { background-image: url(../icons/equipment/fuel-array.png); }
.equipment-gnarled-woodsprite { background-image: url(../icons/equipment/gnarled-woodsprite.png); }
.equipment-jade-elephant { background-image: url(../icons/equipment/jade-elephant.png); }
.equipment-milky-chrysalis { background-image: url(../icons/equipment/milky-chrysalis.png); }
.equipment-ocular-hud { background-image: url(../icons/equipment/ocular-hud.png); }
.equipment-preon-accumulator { background-image: url(../icons/equipment/preon-accumulator.png); }
.equipment-primordial-cube { background-image: url(../icons/equipment/primordial-cube.png); }
.equipment-radar-scanner { background-image: url(../icons/equipment/radar-scanner.png); }
.equipment-royal-capacitor { background-image: url(../icons/equipment/royal-capacitor.png); }
.equipment-the-back-up { background-image: url(../icons/equipment/the-back-up.png); }
