.skill-blight { background-image: url(../icons/skill/blight.png); }
.skill-caustic-leap { background-image: url(../icons/skill/caustic-leap.png); }
.skill-epidemic { background-image: url(../icons/skill/epidemic.png); }
.skill-frenzied-leap { background-image: url(../icons/skill/frenzied-leap.png); }
.skill-neurotoxin { background-image: url(../icons/skill/neurotoxin.png); }
.skill-poison { background-image: url(../icons/skill/poison.png); }
.skill-ravenous-bite { background-image: url(../icons/skill/ravenous-bite.png); }
.skill-vicious-wounds { background-image: url(../icons/skill/vicious-wounds.png); }
