$color-common: rgb(255, 255, 255);
$color-uncommon: rgb(0, 255, 102);
$color-legendary: rgb(255, 0, 51);
$color-boss: rgb(255, 255, 0);
$color-lunar: rgb(0, 102, 255);
$color-equipment: rgb(255, 102, 51);
